*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #b59bdf
}



/* calculator body styling */
.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    min-height: 40vh;
    border-radius: 20px;
    padding: 1rem;
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    border: none;
}
.header {
    margin: 1rem 0.4rem;
    width: auto;
}
h1  {
    text-align: center;
}
hr {
    margin-bottom: 1rem;
}
input {
    width: 100%;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    font-size: 1.2rem
}
button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.2rem;
}
h4 {
    text-align: center;
    margin: 1rem auto;
}



@media only screen and (max-width: 600px){
.container {
    width: 80vw;
}
}


/*jesulonimii overrides*/

body{
    background: url("images/bg.jpg");
    background-size: cover;
}

.container {
    background: rgba(255,255,255,0.4);
    border: 0.5px solid white;
    backdrop-filter: blur(3px);
}

.validateButton{
    color: white;
    border-radius: 15px;
    border-width: 0px;
    background-color: #3578BC;
    width: 100%;
    transition: 0.25s;
}

.textField{
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid black;
    transition: 0.25s;
}

.validateButton:hover{
    background-color: #35BC6E;
}

.textField:focus{
    border-color: #3578BC;
}


@media only screen and (max-width: 900px){

    .container {
        width: 70vw;
    }

    body{
        background: url("images/bg.jpg");
        background-position: center;
       
    }

}
